---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>💫Beatriz Maia</h1>
			<h2>Psicóloga Clínica e da Saúde</h2>
			<img 
				src="/fullsh.jpg" 
				alt="Beatriz Maia - Psicóloga Clínica e da Saúde"
				class="w-full h-auto mt-4"
				loading="lazy"
			/>
		</main>
		<Footer />
	</body>
</html>
